# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/src/main/resources/application.properties

# Node / TypeScript
node_modules
web_scripts/node_modules
*.tsbuildinfo
